version: '2.1'
services:
  terraform:
    image: quay.io/azavea/terraform:0.9.3
    volumes:
      - ./:/usr/local/src
      - $HOME/.aws:/root/.aws:ro
    environment:
      - AWS_PROFILE=climate
      - CC_DEBUG=1
      - CC_SETTINGS_BUCKET=${CC_SETTINGS_BUCKET:-staging-us-east-1-climate-config}
    working_dir: /usr/local/src
    entrypoint: bash
